/tmp/*
/logs/*
/nbproject/*
/.idea/*
*/.idea/*

webroot/all.css
webroot/all.css.map
webroot/files/profile-images

webroot/assets

/node_modules/*
*/node_modules/*
*/*/node_modules/*
*/*/*/node_modules/*
*/*/*/*/node_modules/*

/vendor/*

